aside {
  min-height: 60px;
  box-shadow: 0 3px 3px lightgray;
  padding-bottom: .5rem;
  margin-bottom: 3rem;
  font-size: 22px;
  color: darkcyan;

  input {
    height: 40px;
    min-width: 30rem;
    font-size: 22px;
    padding: 1px;
    outline: none;
    border: none;
    color: darkcyan;
    border-bottom: 1px solid darkcyan;

    &:focus, &:active {
      box-shadow: 0 3px 3px lightgray;
      outline: none;
      border: none;
      color: darkcyan;
      border-bottom: 1px solid darkcyan;
    }
  }
}
