button {
  min-height: 50px;
  min-width: 120px;

  background-color: transparent;
  border-color: transparent;
  outline-color: transparent;

  cursor: pointer;

  &.icon-only {
    min-height: unset;
    min-width: unset;
    font-size: 3rem;
  }

  header & {
    color: white;
    background-color: darkcyan;
    border-color: darkcyan;
    outline-color: darkcyan;
    min-height: 80px;
    min-width: 10rem;
    border-radius: .5rem;
    font-size: 1.25rem;

    &:hover {
      opacity: .7;
      box-shadow: 0 3px 3px lightgray;
    }
  }
}
