.card {
  background-color: #f3f3f3;
  box-shadow: 0 3px 3px lightgray;
  padding: .5rem 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;

  article:first-of-type {
    border-bottom: 1px solid;
    margin-bottom: 1rem;
  }

  article:last-of-type {
    min-height: 80px;
  }
}
