.flex {
  display: flex;
  flex-wrap: wrap;
}

.gap {
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
  & > * {
    margin-left: 10rem;
    margin-right: 10rem;
    width: calc(100% - 20rem);
  }
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-end {
  align-items: end;
}

.w-full {
  width: 100%;
}

.mr-1 {
  margin-right: 1rem;
}
